.sidebar {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 250px; 
    height: 100vh; 
    background-color: var(--primary-color); 
    color: var(--third-color); 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    z-index: 900;
    box-sizing: border-box;
    
  }
  .body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  .sidenav-header {
    display: flex; 
    flex-direction: column; 
  }
  
  .nav-list {
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-bottom: 15px; 
  }
  
  .nav-link {
    display: flex; 
    align-items: center; 
    color: var(--third-color); 
    text-decoration: none; 
    transition: background-color 0.2s;
    cursor: pointer; 
  }
  
  .nav-link:hover {
    background-color: var(--secondary-color);
  }
  
  .sidebar-icon {
    width: 30px; 
    height: 30px; 
  }
  